@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
  color: rgb(242, 93, 93);
}
.drawer-side a {
  background-color: transparent;
}

/* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */
